/* style.css
 * This file provides css styles.
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
	background-color: #ecf0f1;
}

a {
	text-decoration: none;
}

div#header{
	width: 100%;
	height: 50px;
	background-color: #4682b4;
	margin: 0 auto;
	font-family: 'Orbitron';
}

.logo {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.logo a {
	font-size: 1.3em;
	color: #fff;
}

.logo span {
	font-weight: 300;

}

.binoculars {
	padding-right: 12px;
}
div#container {
	width: 100%;
	margin: 0 auto;

}

.sidebar {
	width: 250px;
	height: 100%;
	background-color: #171717;
	float: left;
}

ul#nav {

}
ul#nav li{
	list-style: none;
}
ul#nav li a{
	color: #ccc;
	display: block;
	padding: 10px;
	font-size: 0.8em;
	border-bottom: #0A0A0A;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	/*-0-transition: 0.2s;*/
	transition: 0.2s;
}

ul#nav li a:hover {
	background-color: #030303;
	color: #fff;
	padding-left: 15px;

}

ul#nav li a.selected{
	background-color: #030303;
	color: #fff;

}

.content {
	width: auto;
	margin-left: 250px;
	height: calc(100% - 50px);
	background-color: #ecf0f1;
	padding: 15px;

}

.content p {
	color: #424242;
	font-size: 0.72em;
	
}

div#box{
	margin-top: 15px;
	margin-left: 10px;
	}

div#box .box-top {
	color: #fff;
	text-shadow: 0px 0px 1px #000;
	background-color: #2980b9;
	padding: 10px;
	padding-left:30px;
	font-weight: 300;

}
 div#box .box-panel {
 	padding: 30px;
 	background-color: #fff;
	display: -webkit-flex;
    display: flex;
 }
 
  div#box .box-panel-growth {
 	padding: 30px;
 	background-color: #fff;
	display: -webkit-flex;
    display: flex;
 }


/* scatterplot */
 h2 {
     color: #1abc9c;
     font-family:  'Raleway';
     font-weight: normal;
     font-size: 1.75em;
     letter-spacing: .2em;
     line-height: 1.1em;
     margin:0px;
     text-align: center;
     text-transform: uppercase;
 }

circle {
    stroke: #1abc9c;
    stroke-width: 1;
    fill: none;
}
	 .axis text {
        font-family: 'Open Sans';
        font-size: 8pt;
      }
      .axis .label {
        font-size: 12pt;
      }

      .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }



/*pipe map*/
div#box .box-panel-map {
 	padding: 30px;
	height: 400px;
	
 	background-color: #fff;
	display: -webkit-flex;
    display: flex;
 }

.stations, .stations svg {
  position: absolute;
}
.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}
.stations circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}

/* for mobile */


@media only screen and (max-width: 480px) {

a.mobile {
	display: block;
	color: #fff;
	background: #000;
	text-align: center;
	padding: 7px; 
	cursor: pointer;
}

a.mobile:active{
	background: #474747;
}


.sidebar {
	width: 100%;
	display: none;
	height: auto;
}

.content {
   margin-left: 0;
}

}

@media only screen and (min-width: 480px) {

.sidebar {
	min-height: 900px;
	display: block;
}

a.mobile {
	display: none;
}


}




